/* DashboardComponent's private CSS styles */
[class*='col-'] {
    float: left;
    padding-right: 20px;
    padding-bottom: 20px;
  }
  [class*='col-']:last-of-type {
    padding-right: 0;
  }
  a {
    text-decoration: none;
  }
  *, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  h3 {
    text-align: center;
    margin-bottom: 0;
  }
  h4 {
    position: relative;
  }
  .grid {
    margin: 0;
  }
  .grid::after {
    content: "";
    display: block;
    clear: both;
  }

  .col-1-4 {
    width: 25%;
  }
  .module {
    padding: 20px;
    text-align: center;
    color: #eee;
    max-height: 120px;
    min-width: 120px;
    background-color: #3f525c;
    border-radius: 2px;
  }
  .module:hover {
    background-color: #eee;
    cursor: pointer;
    color: #607d8b;
  }
  .grid-pad {
    padding: 10px 0;
  }
  .grid-pad > [class*='col-']:last-of-type {
    padding-right: 20px;
  }
  @media (max-width: 600px) {
    .module {
      font-size: 10px;
      max-height: 75px; }
  }
  @media (max-width: 1024px) {
    .grid {
      margin: 0;
    }
    .module {
      min-width: 60px;
    }
  }

  .head{
    height: 100px;
    background-color: #555;
  }
  .line{
    height: 50px;
    background-color: tomato;
    position: absolute;
    width: 100%;
    right: 2em;
  }

  .container{
    height: 300px;
    background-color: #eee;
    /* position: relative; */
    border: 10px solid #fff;
    border-top: 0px solid #fff;
  }
  section{
    position: relative;
    /* top: -50px; */
  }
  .footer{
    height: 100px;
    background-color: #777;
    position: relative;
    /* top: -50px; */
  }

  body{
    position: relative !important;
    /* overflow: hidden !important; */
  }